/* Navbar */
.navbar {
    width: 100vw; /* Ensure full width */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #03252f;
    padding: 15px 5%; /* Use percentage padding for responsiveness */
    position: fixed; /* Keeps navbar at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Keeps it above other elements */
    box-sizing: border-box; /* Prevent padding from affecting the width */
}

.logo {
    width: 50px;
    cursor: pointer;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px; /* Space between links */
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #4c7273;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    nav ul {
        gap: 15px; /* Adjust gap between links for mobile */
    }

    nav ul li a {
        font-size: 14px; /* Adjust font size */
        padding: 10px 15px; /* Adjust padding */
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    nav ul {
        gap: 5px;
    }
}

.footer {
    background-color: #4c7273;
    padding: 20px 0;
    text-align: center;
    position: fixed;  /* Makes the footer fixed at the bottom of the screen */
    bottom: 0;        /* Aligns the footer to the bottom edge of the screen */
    left: 0;          /* Ensures the footer takes full width */
    width: 100%;      /* Full width */
    z-index: 1000;    /* Ensures the footer stays above other content */
}

.footer p{
    color: #fff;
}

/* Mobile specific footer adjustment */
@media screen and (max-width: 768px) {
    .footer {
        position: relative;  /* Makes sure it's positioned based on content */
        bottom: 0;
    }
}